{% extends 'common_code/index.html' %}
{% load static %}


{% block title %}About Us{% endblock title %}

{% block content %}
    <section class="section1">
        <div class="div1">
            <img src="https://cdn.dribbble.com/users/5508583/screenshots/13916478/media/0d229ae6a041cfb8c8d15685dda6fd8d.gif" alt="About Us Picture" 
            class="about_img">
            <div class="div2">
                <h1 class="about_h1">
                    About Us
                </h1>
                <h5 class="about_h5">
                    Developer<span class="color: rgb(255, 51, 104)"> & Designer</span>
                </h5>                
                <p class="about_p">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate vitae vero, officia possimus veniam fugit alias vel laboriosam, voluptas molestiae debitis! Dignissimos eligendi magnam delectus atque maiores quod veritatis similique?
                </p>


            </div>
        </div>
    </section>
    


{% endblock %}


