{% extends 'common_code/index.html' %}
{% load static %}


{% block title %}About Us{% endblock title %}

{% block content %}
    <section style="width: 100%;padding: 78px 0px;background-color: white;">
        <div style="        
        width: 1130px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;">
            <img src="https://cdn.dribbble.com/users/5508583/screenshots/13916478/media/0d229ae6a041cfb8c8d15685dda6fd8d.gif" alt="About Us Picture" 
            style="height: auto;width: 420px;">
            <div style="width: 550px;">
                <h1 style="
                    color: black;
                    font-size: 80px;
                    text-transform: capitalize;
                    margin-bottom: 20px;">
                    About Us
                </h1>
                <h5 style="
                    color: black;
                    font-size: 25px;
                    text-transform: capitalize;
                    margin-bottom: 25px;
                    letter-spacing: 2px;">
                    Developer<span style="color: rgb(255, 51, 104)"> & Designer</span>
                </h5>                
                <p style="
                color: black;
                letter-spacing: 1px;
                line-height: 28px;
                font-size: 18px;
                margin-bottom: 45px;"
                >
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate vitae vero, officia possimus veniam fugit alias vel laboriosam, voluptas molestiae debitis! Dignissimos eligendi magnam delectus atque maiores quod veritatis similique?
                </p>


            </div>
        </div>
    </section>
    


{% endblock %}


